<div style="background-color: rgba(254, 156, 83, 0.88); padding:20px;">


</div>

<div class="container" style="padding-left:50px; padding-top:20px; background-color:white">
    <div class="row">
        <div class="col-xs-6">
            <img class="img-fluid" style="border-radius:50%; width:100px; height:100px" src="https://www.socialtools.me/wp-content/uploads/2016/04/foto-de-perfil.jpg" />
        </div>
        <div class="col-xs-6" style="padding-left:20px; font-size:20px;">
            <p style="color:#000000; margin-bottom:0px;">Usuario</p>
            <p style="color:#757474; margin-top:0px;">Juana Lorem Vaq</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p style="color:#000000; margin-bottom:0px;">Correo</p>
            <p style="color:#757474; margin-top:0px;">coquita_de_vidrio@gmail.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p style="color:#000000; margin-bottom:0px" >Password</p>
            <p style="color:#757474; margin-top:0px;">taquito_de_borrego</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p style="color:#000000; margin-bottom:0px">Tipo de cuenta</p>
            <p style="color:#757474; margin-top:0px;">Premium</p>
        </div>
    </div>

</div>
<div class="container">
    <hr />

    <h1 class="Titulo_Principal">Mis recetas guardadas</h1>
    <input class="form-control" type="text" placeholder="Palabra clave">
    <br />

    <div class="row">
        <div class="col-4">
            <img style="margin-top:0px; border-radius: 10px;" class="img-fluid" src="~/Content/img/Panqueque_frutos_rojos.jpg" />
        </div>
        <div class="col-8" style="background-color:#ffffff; border-radius: 10px;">
            <h1 class="titulo"><a style="color: black;" href="@Url.Action("Detail","Recetas")">Panqueque frutos rojos</a></h1>
            <p style="margin-bottom:0px;" class="descripcion">Dificultad: Baja</p>
            <p style="margin-bottom:0px;" class="descripcion">Duracion 25 min</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-4">
            <img style="border-radius: 10px;" class="img-fluid" src="~/Content/img/chicken-steak-with-lemon-tomato-chili-and-carrot-on-white-plate 3.png" />
        </div>
        <div class="col-8" style="background-color:#ffffff; border-radius: 10px; ">
            <h1 class="titulo">Chuleta con verdura</h1>
            <p style="margin-bottom:0px;" class="descripcion">Dificultad: Baja</p>
            <p style="margin-bottom:0px;" class="descripcion">Duracion 25 min</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-4">
            <img style="border-radius: 10px;" class="img-fluid" src="~/Content/img/chicken-steak-with-lemon-tomato-chili-and-carrot-on-white-plate 3.png" />
        </div>
        <div class="col-8" style="background-color:#ffffff; border-radius: 10px; ">
            <h1 class="titulo">Chuleta con verdura</h1>
            <p style="margin-bottom:0px;" class="descripcion">Dificultad: Baja</p>
            <p style="margin-bottom:0px;" class="descripcion">Duracion 25 min</p>
        </div>
    </div>
    <center><i class="fas fa-ellipsis-h"></i></center>
    <hr />

</div>
<br />
<br />