@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
body {
    background-color: #eaeaea !important;
    font-family: 'Iceland', cursive;
}

.btn-busqueda {
    background-color: #63B963;
    border-radius:15px;
    color:white;
}

.btn-suscribir {
    background-color: rgba(254, 156, 83, 0.88);
    border-radius: 10px;
    color: white;
    font-size: 25px;
}

.btn-cancelar {
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}

.btn-guardar {
    background-color: #FFFFFF;
    border-color: black;
    border-radius: 5px;
    color: black;
    font-size: 25px;
}

.titular {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size:30px;
}


.titulo{
    font-size:18px;
}

.descripcion{
    font-size:12px;
}

.Titulo_Principal {
    color: #373434;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filtro i{
    font-size:25px;
    color: #000000
}

.filtro a {
    font-size: 18px;
    color:#000000;
}

.usuario {
    color: #FCFCFC;
}

.back-usuario {
    background-color: #000000;
    width: 50PX;
    height: 50px;
    padding-top: 10px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.regresar {
    font-size: 18px;
    color: #000000;
}

.menustyle {
    color: black;
}