body {
    background-color: #eaeaea !important;
}

.btn-busqueda {
    background-color: #63B963;
    border-radius:15px;
    color:white;
}

.titular {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size:30px;
}


.titulo{
    font-size:18px;
}

.descripcion{
    font-size:12px;
}

.Titulo_Principal {
    color: #373434;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}