
@{
    ViewBag.Title = "Suscribir";
}

<div style="background-color: rgba(254, 156, 83, 0.88); padding:10px;">
    <div style="height:244px; background-repeat:no-repeat; background-size:cover;  background-image:url('/Content/img/wood-gd524c74c1_1920 3.png')">
        <div style="padding-top:70px; padding-left:20px; padding-right:20px;">
            <h1 class="titular">Descubre los beneficios que tenemos para ti por sólo $49.00 pesos al mes</h1>
        </div>
    </div>
</div>
<hr />
<h1 style="padding: 10px;">Suscripción</h1>
<div style="background-color: rgba(255, 255, 255, 1); padding: 10px; border-radius: 15px;">
    <div class="row">
        <div class="col-md-12">
            <p style="font-size: 35px;"><b>Beneficios como:</b></p>
            <ul>
                <li style="font-size: 25px;">Guarda tus recetas favoritas.</li>
                <li style="font-size: 25px;">¡Encuentra tus recetas favoritas de forma más sencilla!</li>
                <li style="font-size: 25px;">Elimina toda la publicidad</li>
                <li style="font-size: 25px;">Podrás filtrar los ingredientes indeseados</li>
            </ul>
        </div>
    </div>
</div>
<h1 style="padding: 10px;">Tipos de suscripción</h1>
<div style="padding:10px;">
    <div class="row">
        <div class="col-6">
            <div style="background-color: rgba(255, 255, 255, 1); padding: 10px; border-radius: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <center><p style="font-size: 35px;"><b>Mensual</b></p></center>
                        <center><img style="height: 70px;" class="img-fluid" src="~/Content/img/Premium-mensual.png" /></center>
                        <p style="font-size: 20px;">Paga $49 MXN al mes para recibir los beneficios.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div style="background-color: rgba(255, 255, 255, 1); padding: 10px; border-radius: 15px;">
                <div class="row">
                    <div class="col-md-12">
                        <center><p style="font-size: 35px;"><b>Anual</b></p></center>
                        <center><img style="border-radius: 10px;" class="img-fluid" src="~/Content/img/Premium-anual.png" /></center>
                        <p style="font-size: 20px;">Paga $499 MXN al año para recibir los beneficios.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6" style="padding: 10px">
        <center><a href="@Url.Action("Pago","Suscripcion")"><button type="button" class="btn btn-suscribir">Adquirir</button></a></center>
    </div>
    <div class="col-6" style="padding: 10px">
        <center><a href="@Url.Action("Pago","Suscripcion")"><button type="button" class="btn btn-suscribir">Adquirir</button></a></center>
    </div>
</div>