<div style="background-color: rgba(254, 156, 83, 0.88); padding:20px;">
    <div class="row">
        <div class="col-8">
            <input class="form-control" type="text" placeholder="Default input">
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-busqueda">Buscar</button>
        </div>
    </div>
</div>


<div style="height:320px; background-repeat:no-repeat; background-size:cover;  background-image:url('/Content/img/selective-focus-shot-of-mexican-style-delicious-pork-flautas-on-white-plate 3.png')">
    <div style="padding-top:70px; padding-left:20px; padding-right:20px;">
        <h1 class="titular">Encuentra recetas sencillas con ingredientes que tengas a la mano</h1>

    </div>
</div>


<br />
<div class="container">


    <h1 class="Titulo_Principal">Recetas Populares</h1>
    <br />

    <div class="row">
        <div class="col-4">
            <img class="img-responsive" src="~/Content/img/chicken-steak-with-lemon-tomato-chili-and-carrot-on-white-plate 3.png" />
        </div>
        <div class="col-8" style="background-color:#ffffff; border-radius: 10px; ">
            <h1 class="titulo">Chuleta con verdura</h1>
            <p style="margin-bottom:0px;" class="descripcion">Dificultad: Baja</p>
            <p style="margin-bottom:0px;" class="descripcion">Duracion 25 min</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-4">
            <img class="img-responsive" src="~/Content/img/chicken-steak-with-lemon-tomato-chili-and-carrot-on-white-plate 3.png" />
        </div>
        <div class="col-8" style="background-color:#ffffff; border-radius: 10px; ">
            <h1 class="titulo">Chuleta con verdura</h1>
            <p style="margin-bottom:0px;" class="descripcion">Dificultad: Baja</p>
            <p style="margin-bottom:0px;" class="descripcion">Duracion 25 min</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-4">
            <img class="img-responsive" src="~/Content/img/chicken-steak-with-lemon-tomato-chili-and-carrot-on-white-plate 3.png" />
        </div>
        <div class="col-8" style="background-color:#ffffff; border-radius: 10px; ">
            <h1 class="titulo">Chuleta con verdura</h1>
            <p style="margin-bottom:0px;" class="descripcion">Dificultad: Baja</p>
            <p style="margin-bottom:0px;" class="descripcion">Duracion 25 min</p>
        </div>
    </div>
    <hr />



    <div style="height:244px; background-repeat:no-repeat; background-size:cover;  background-image:url('/Content/img/wood-gd524c74c1_1920 3.png')">
        <div style="padding-top:70px; padding-left:20px; padding-right:20px;">
            <h1 class="titular">Descubre los beneficios que tenemos para ti por sólo $49.00 pesos al mes</h1>
            <button type="button" class="btn btn-busqueda">Suscribete</button>
        </div>
    </div>
</div>
<br />
<br />