<div style="background-color: rgba(254, 156, 83, 0.88); padding:20px;">
    <i class="fas fa-arrow-left"></i> <a class="regresar" href="@Url.Action("Index","Recetas")">Regresar</a>
    <br />
    <div style="background-color: rgba(255, 255, 255, 1); padding: 10px; border-radius: 15px;">
        <div style="height: 320px; border-radius: 10px; background-repeat: no-repeat; background-size: cover; background-image: url('/Content/img/Panqueque_frutos_rojos.jpg')">
            <div style="padding-top:70px; padding-left:20px; padding-right:20px;">
            </div>
        </div>
        <div class="container">
            <br />
            <h1 class="Titulo_Principal">Panqueques frutos rojos</h1>
            <div class="row">
                <div class="col-6">
                    <p>Dificultad: Baja</p>
                    <p>Tiempo: 25 min</p>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-guardar far fa-folder"> Guardar</button>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <p><b>Ingredientes</b></p>
                    <ul>
                        <li>2 tazas de harina de trigo</li>
                        <li>2 huevos</li>
                        <li>1 taza de leche entera</li>
                        <li>1 barra de mantequilla</li>
                        <li>1 cdta de polvo para hornear</li>
                        <li>200 gr de frambuesas</li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <p><b>Método de Preparación</b></p>
                    <ol start="1">
                        <li> Batir en un plato ondo la harina, los huevos, la leche y el polvo para hornear.</li>
                        <li> Picar en trocitos la mitad de la cantidad de frambuesas y añadir a la mezcla.</li>
                        <li> Añadir mantequilla en un sartén a fuego medio para prepararse.</li>
                        <li> Añadir una porción de la mezcla al sartén y moverlo para darle la forma circular al panqueque. Cocinar hasta que se vea color marrón y para comprobar, insertar un palillo de dientes hasta que salga limpio.</li>
                        <li> Añadir frambuesas al gusto para decorar u otros ingredientes de su preferencia.</li>
                    </ol>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

<div class="container" style="padding: 30px;">
    <h1 class="Titulo_Principal">¡Califica esta receta!</h1>
    <i style="color: gold" class="fas fa-star"></i> <i style="color: gold" class="far fa-star"></i> <i style="color: gold" class="far fa-star"></i> <i style="color: gold" class="far fa-star"></i> <i style="color: gold" class="far fa-star"></i>
</div>